<div class="panel panel-default">
  <div class="panel-body">
    <strong>Order Details</strong><br><br>
    <table class="table table-condensed table-hover no-bottom-margin">
      <tbody>
        <tr>
          <td class="col-sm-6">
            Subtotal:
          </td>
          <td class="col-sm-6">
            ${{_cartTotalPrice}}
          </td>
        </tr>
        <tr>
          <td class="col-sm-6">
            Shipping:
          </td>
          <td class="col-sm-6">
            $0
          </td>
        </tr>
        <tr>
          <td class="col-sm-6">
            <strong>Grand Total:</strong>
          </td>
          <td class="col-sm-6">
            <strong>${{_cartTotalPrice + 0}}</strong>
          </td>
        </tr>
      </tbody>
    </table><br>
  </div>
</div>
