
<div class="row">
    <div class="col-sm-6">
        <div class="page-header2">
            <h1>Bullion Coins Store</h1>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse " role="navigation">
  <div class="container-fluid">
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-left">
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <ng-container *ngIf = "loggedIn">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Account<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a routerLink="/change_user_info" routerLinkActive="active">Change user info</a></li>
                          <li><a routerLink="/change_user_password" routerLinkActive="active">Change user password</a></li>
                          <li><a routerLink="/purchase_history" routerLinkActive="active">Purchase History</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a class="buttonlink" (click)="userLogout()">Logout</a></li>
                      </ul>
              </li>
            </ng-container>
              <ng-container *ngIf = "!loggedIn">
                    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
              </ng-container>
              <li><a routerLink="/cart" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart"></span>Cart ({{totalQuantity}})</a></li>
          </ul>
      </div>

  </div>
</nav>