<app-header [totalQuantity] = "total_qty"></app-header>
<ng-template [ngIf] = "total_qty!=0"> <!-- if there are items in shopping cart -->
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            <div *ngFor = "let cartItem of cartItems"> <!-- loops through the items to be displayed -->
                <li class="list-group-item">
                    <span class="badge">{{cartItem.qty}}</span>
                    <strong>{{cartItem.item.title}}</strong>
                    <span class="label label-success">${{cartItem.item.price}}</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/cart" routerLinkActive="active" (click)="reduceOne(cartItem.item._id)">Reduce by 1</a></li>
                            <li><a routerLink="/cart" routerLinkActive="active" (click)="removeAll(cartItem.item._id)">Remove All</a></li>
                        </ul>
                 </div>
                </li>
            </div>
            
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total: ${{cartTotalPrice}}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a routerLink="/checkout" routerLinkActive="active" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
</ng-template>
<ng-template [ngIf] = "total_qty==0"> <!-- if there are no items in shopping cart -->
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
</ng-template>
