<app-header [totalQuantity] = "total_qty"></app-header>

<div class="container-fluid bg-skyblue">
  <div class="container bg-skyblue">
    <div class="jumbotron text-center bg-skyblue">
      <h1>MEANcart</h1> 
      <p><img src="/assets/images/cart.png" class="img-responsive img-circle margin" style="display:inline" alt="Cart" width="350" height="350"></p>
      <p>A simple MEAN shopping cart</p>
      <h5>Best viewed with the latest Chrome, Firefox, Opera or Microsoft Edge browsers.</h5>
    </div>
  </div>
</div>

<div class="container-fluid padding-top padding-bottom">
  <div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>About MEANcart</h2>
      <p>A simple shopping cart developed using MEAN(MongoDB, ExpressJS, Angular, NodeJS) stack.</p>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Front End
        </div>
        <div class="panel-body text-center">
          <p>Angular 5</p>
          <p>Bootstrap 3.3.7</p>
          <p>HTML 5</p>
          <p>CSS</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Back End
        </div>
        <div class="panel-body text-center">
          <p>Express JS</p>
          <p>Node JS (Heroku)</p>
          <p>MongoDB (mLab)</p>
          <p>Stripe JS v3 payment processing</p>
          <p>Passport JS sign-in session</p>
          <p>Connect-Mongo store session</p>
          <p>CORS (Cross Origin Resource Sharing)</p>
          <p>Bcrypt-Node JS password hashing</p>
          <p>SendGrid email delivery service</p>   
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Features
        </div>
        <div class="panel-body text-center">
          <p>User signup</p>
          <p>User Login/Logout</p>
          <p>Password reset</p>
          <p>Add to shopping cart</p>
          <p>Shopping cart auto price update</p>
          <p>Credit card checkout</p>
          <p>Purchase history</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>
<div class="container-fluid bg-grey padding-top padding-bottom">
  <div class="container bg-grey">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Shop</h2>
      </div>
    </div>
    <div class="row">
      <div *ngFor = "let coin of coins; let i=index" id="listOfCoins" name="listOfCoins">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <img src="/assets/images/{{coin.imagePath}}" alt="..." class="img-responsive img-thumbnail" style="width:75%">
              <h4>{{coin.title}}</h4>
              <p>{{coin.description}}</p>
              <p>${{coin.price}}</p>
              <input type="number" class="text-center" style="width: 4em" size="3" min = "1" max = "999" step="1" id = "itemQty" name = "itemQty" value = "1" maxlength = "3" #itemQty>
              <button class="btn btn-primary" role="button" id="addItemButton" name="addItemButton" (click)="addItemToCart(coin._id, itemQty.value)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>