<app-header [totalQuantity] = "total_qty"></app-header>
  <div class="container padding-top padding-bottom">
    <ng-container *ngIf="successMsg">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info text-center">
            {{successMsg}}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="errorMsg">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-danger text-center">
            {{errorMsg}}
          </div>
        </div>
      </div>
    </ng-container>
  <div class="row">
  <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Forgot Password</h3>
       </div>
        <div class="panel-body">
          <form [formGroup]="forgotPwForm" (ngSubmit)="resetPassword(forgotPwForm)" id="forgotPwForm" name="forgotPwForm">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" placeholder="Email" id="email" name="email" formControlName="email" required>
                  <div class="text-danger">
                    {{emailMsg}}
                  </div>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
        </form>
        </div>
    </div>
  </div>
  </div>
</div>


