<app-header></app-header>
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Change User Password</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" [formGroup]="changeUserPasswordForm" (ngSubmit)="modifyUserPassword()">
                    <fieldset>
			    	  	<div class="form-group">
                            <label>Old Password</label>
			    		    <input class="form-control" type="password" id="oldpassword" [formControl]="changeUserPasswordForm.controls['oldPassword']" required>
			    		</div><br>
						<div class="form-group">
                            <label>New Password</label>
			    		    <input class="form-control" type="password" id="newpassword" [formControl]="changeUserPasswordForm.controls['newPassword']" required>
			    		</div>
						<div class="form-group">
                            <label>Retype New Password</label>
			    		    <input class="form-control" type="password" id="retypepassword" [formControl]="changeUserPasswordForm.controls['retypePassword']" required>
			    		</div>
			    		<button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>