<div class="row">
<app-header [totalQuantity] = "total_qty"></app-header>
</div>
<br><br><br><br>

<div class="row">
    <fieldset>
        <legend>Order Details</legend>
    </fieldset>
</div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Shipping Address</strong><br><br>
                <strong>{{name}}</strong><br>
                {{shippingAddress.addressLine1}}<br>
                {{shippingAddress.addressLine2}}<br>
                {{shippingAddress.addressCity}}, {{shippingAddress.addressState}}, {{shippingAddress.addressZip}}<br>
                {{shippingAddress.addressCountry}}<br>
            </div>
        </div>
    </div>
      
      <div class="row">
      
                <table class="table table-condensed table-bordered no-margin-bottom">
                    <thead>
                        <tr class="active">
                            <th>Product</th>
                            <th>Price</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let order of orders">
                          <tr>
                            <td class="col-sm-6">
                              {{order.item.title}}
                            </td>
                            <td class="col-sm-2 text-right">
                              ${{order.price}}
      
                            </td>
                            <td class="col-sm-2 text-right">
                              {{order.qty}}
                            </td>
                            <td class="col-sm-2 text-right">
                              ${{order.price * order.qty}}
                            </td>
                        </tr>
                        </ng-container>
                      </tbody>
                    </table>
        </div>
      
        <div class="row">
            <table class="table table-condensed table-bordered">
              <tbody>
            
                        <tr>
                            <td class="text-right col-sm-10">Subtotal</td>
                            <td class="text-right col-sm-2">${{subTotal}}</td>
                        </tr>
                        <tr>
                            <td class="text-right col-sm-10">Shipping</td>
                            <td class="text-right col-sm-2">$0</td>
                        </tr>
                        <tr>
                            <td class="text-right col-sm-10"><strong>Grand Total</strong></td>
                            <td class="text-right col-sm-2"><strong>${{subTotal + 0}}</strong></td>
                        </tr>
                    </tbody>
                </table>
      
      
        </div>